.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post-top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post-avatar{
    margin-right: 10px;
}
.post-top-info > h3{
    font-size: medium;
}
.post-top-info > p{
    font-size: small;
    color: gray;
    opacity: 0.7;
}

.post-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}
.post-bottom> p{
    color: rebeccapurple;
    font-weight: 600;
}

.post-image > img{
    width: 100%;
    max-height: 550px;
}

.post-options{
    padding-top: 3px;
    border-top: 1px solid rgba(182, 182, 182, 0.62);
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    
}
.post-option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post-option > p{
    margin-left: 10px;
    color: rgb(72, 96, 218);
}
.post-option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.likebtn:hover{
    color: blue;
}
.likebtn > p {
    font-weight: bold;
}
.react-div img{
    height: 20px;
    margin-left: 1px;
 
}
.react-div{
    margin-left: 10px;
    position: relative;
    z-index: 1;
}

